.box {
  border: 3px solid #000;
  width: 500px;
  height: 650px;
}
h1,
h2 {
  text-align: center;
  margin: 45px 0 45px 0;
}
.item-img {
  margin-top: 50px;
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 50px;
}

button {
  margin-top: 15px;
  border: none;
  border-radius: 25px;
  font-size: 50px;
}
button:hover {
  background: rgba(105, 247, 105);
  color: #fff;
  transition: 0.8s;
  transform: scale(1.3);
  cursor: pointer;
}
.win {
  border: 8px solid #d0d32e;
  border-radius: 15px;
  background-color: #f8fa6b;
}

.lose {
  border: 8px solid #888888;
  border-radius: 15px;
  background-color: #ddd;
  opacity: 0.3;

}

.tie {
  border: 8px solid rgb(0, 0, 0);
  border-radius: 15px;
}
